In [ ]:
#A base de dados que iremos trabalhar, será do Titanic contendo informações dos passageiros do Navio, 
#que naufragou na viagem de inaguração 1912. Os dados incluem detalhes como:
#Nome, sexo, idade, cabine, tarifa e local de embarque.Podemos analisar com a base de dados a
#taxa de sobrevivência.
#


import pandas as pd

In [ ]:
url ='https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

In [ ]:
def preprocess_data(df):
    print("Cabecalho do DataFrame:")
    print(n\df.head(3)

In [ ]:
df.drop(['Ticket', 'Cabin'], axis=1, inplace=True)

In [ ]:
df.sort_values(by='Age', ascending=True, inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
print("\nColunas no DataFrame após o processamento:")
print(df.columns)

In [ ]:
df_copy = df.copy()

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
#insights
print("Média de idade dos passageiros:", df['Age'].mean())
print("Contagem de passageiros por classe:")

In [ ]:
#português
df.columns = ['ID', 'Sobrevivente', 'Classe', 'Nome', 'Sexo', 'Idade', 'Tarifa', 'Embarque']
return df

In [ ]:
df.dropna(inplace=True)

In [ ]:
return df, df_copy

In [ ]:
df_processado, df_copia = preprocess_data(df)

In [ ]:
df_processado.to_csv('titanic_processado.csv', index=False)